<a href="/bloglist/" id="listblog"></a><section id="blogpost"><h3>26 January 2014</h3><h1>Global Game Jam 2014.</h1>
<p><img alt="Henry Chee, Carolyn Shen, and Daniel Lu" src="http://i.imgur.com/rkjcQGY.jpg" /></p>
<p>Over the weekend my team and I made a game based on <a href="http://code.google.com/p/visibility-polygon-js/">visibility polygons</a>. It is a top-down shooter game where one can throw flashbangs (i.e. pass divine judgement) or fire bullets at enemies. A flashbang explodes after a certain amount of time and stuns all enemies within its line of sight. Except the first level, the player can only see that which is within its line of sight. The goal is to find the exit for the level, denoted by a square. </p>
<p>The game is all made in Javascript/html5 canvas. Apart from the visibility polygon library and jQuery, no external libraries were used. We made the game engine entirely from scratch.</p>
<p>You can read about the game at <a href="http://globalgamejam.org/2014/games/road-salvation">the Global Game Jam website</a>. </p>
<p>You can play the demo at <a href="/salvation">dllu.net/salvation</a>. There is also a <a href="/salvation/mapeditor.html">map editor</a>. The code is available at <a href="https://github.com/dllu/bieber-drive">github</a>. </p>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'dllunet'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>