<a href="/bloglist/" id="listblog"></a><section id="blogpost"><h3>27 April 2013</h3><h1>Battlestation operational. Also, RSS feed.</h1>
<p>Recently I moved my desktop computer to my bedroom in my parents' house, where I'll be staying for the summer. Consequently my internet speed has gone from <a href="http://www.speedtest.net/result/2474736716.png">750 Mbps</a> in UBC to a mediocre ADSL connection that varies from <a href="http://www.speedtest.net/result/2673834143.png">one hundred and fifty times worse</a> to <a href="http://www.speedtest.net/result/2673788634.png">one thousand times worse</a> at our house in Abbotsford.</p>
<p>I have also implemented an <a href="/blog/rss.xml">RSS feed</a> for my blog.</p>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'dllunet'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>