<a href="/bloglist/" id="listblog"></a><section id="blogpost"><h3>20 December 2013</h3><h1>Static version of the website.</h1>
<p>There now exists a <a href="http://www.dllu.net/s/">static version</a> of this website for users without Javascript. Actually, the Javascript version that loads the pages asynchronously using AJAX has very few benefits over the static version. I suppose the only real benefit is my own poorly-written prefetch engine, which is somewhat buggy. In the Javascript version, the blog is more colourful but that is purely cosmetic. I might just replace the entire site with the static version in the future.</p>
<p>Now that final exams are finally over, I have time to work on interesting projects. At least, for a short while; before school starts again next term.</p>
<p><strong>Update</strong> <em>y2014m02d19</em> The static version is now served by default and the version that loads snippets via AJAX has been removed.</p>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'dllunet'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>