<a href="/bloglist/" id="listblog"></a><section id="blogpost"><h3>12 September 2014</h3><h1>CMU ACM ICPC Selection Round 1</h1>
<p>The CMU ACM ICPC Team Selection Round 1 featured a mix of problems from old ICPC regional contests. Although I did not do very well due to a number of stupid bugs, problem statement misreadings, failure to make key observations, and the such, I have been going through the problems trying to solve them. The problem statements are <a href="/blog/blog/probs.pdf">available here</a>. Here is a selection of explanations:</p>
<h2>Problem A: Binary Tree</h2>
<p>This is a dynamic programming problem. First, let us ignore the "up" instructions. Suppose that we are given some set of instructions:</p>
<pre><code>LRRLR
</code></pre>
<p>How do we count the number of distinct paths in the binary tree that you can make from taking any subset of these instructions? This is the same as asking, how many distinct subsequences you can make from the string. Suppose you already know the answer to the string containing the last \(n-1\) letters <code>RRLR</code>, and you add a new one in front.</p>
<p>If you add <code>L</code> to the front, let's see what subsequences we can get from <code>LRRLR</code>. At first glance it looks like it's twice as many as the subsequences of <code>RRLR</code>, since for any subsequence of <code>RRLR</code>, you can add an <code>L</code> in front of it. However, this will double count the string <code>LR</code>, since you can get this from both adding <code>L</code> to <code>R</code>, as well as just taking the subsequence <code>LR</code> itself. This will also double count the string <code>L</code>, which can be obtained from both adding <code>L</code> to the empty string, as well as just taking the subsequence <code>L</code> itself. In fact, this double counts all subsequences of <code>R</code>. See a pattern? What we really want is twice the subsequences of <code>RRLR</code> minus the number of subsequences past the next occurrence of <code>L</code>.</p>
<pre><code>f(LRRLR) = 2f(RRLR) - f(R)
</code></pre>
<p>Conversely, when adding <code>R</code>, the number of subsequences is twice the number of subsequences of the old string, minus the number of subsequences for the substring past the next occurrence of <code>R</code>. </p>
<p>Now, we can take into account the <code>U</code> commands. Suppose you arrived at your present spot by some path formed from the input S, say, <code>RLRRR</code>. If we go up one level, and then go down a path starting with <code>R</code>, then it is not a new path at all. Instead, we only want to count the subsequences starting with <code>L</code>. So, starting from the position of the <code>U</code>, we find the next occurrence of <code>L</code>, and add the dynamic programming result for that subproblem to our answer. Conversely, if your path ends with <code>L</code>, we would want to find the next occurrence of <code>R</code> instead.</p>
<h2>Problem B: Strange Billboard</h2>
<p>This is a brute force problem. First, let us suppose we arbitrarily pick a pattern of tiles in the first row to flip.</p>
<pre><code>..XXXXX..
.X.....X.
X..X.X..X
X.......X
X.X...X.X
X..XXX..X
.X.....X.
..XXXXX..
</code></pre>
<p>If we pick the following tiles to flip (probably a poor choice):</p>
<pre><code>010010100
</code></pre>
<p>Then we would get:</p>
<pre><code>X....X.X.
....X.XX.
X..X.X..X
X.......X
X.X...X.X
X..XXX..X
.X.....X.
..XXXXX..
</code></pre>
<p>Observe that the <em>only</em> way you can clear the tiles in the first row, without having to flip any more tiles in the first row, is to flip the tiles directly below the remaining <code>X</code> tiles, and not to flip any other tile in the second row (or else you would mess up the first row forever). This tells you exactly which tiles you can and cannot flip in the second row. Likewise, having done this, we know exactly which tiles we must flip on the third row, and so forth.</p>
<p>When you reach the last row, if it is already cleared, then hooray! You have found a solution. Otherwise, it is not a valid solution.</p>
<p>The brute force part is to try all the possible patterns of tiles to flip in the first row. Since there are at most 16 columns, you will only have to try 65536 possibilities. It is easy to implement this efficiently using bitwise methods. In GCC, the <code>__builtin_popcount(int)</code> method tells you the number of bits set in an integer efficiently.</p>
<h2>Problem C: Phone Cell</h2>
<p>This is a classical computational geometry problem. Simply put, you are given a number of points in the plane, and you wish to find the best place to put a unit disk such that it covers the maximum number of points.</p>
<p><strong>Slow solution</strong></p>
<p>The naive way to approach this is to observe that, for any solution, without loss of generality, you can shift the solution such that two points lie on the edge of the circle. Thus, you can try all possible ways to do this: for each pair of points, find the two circles that pass through these points. Then, for each of those circles, go through all the other points and see if they fit inside. This takes \(O(n^3)\), and since \(n\) can be a thousand, it is too slow. You can try to speed it up using quadtrees or something, but it is not worth it.</p>
<p><strong>Fast solution</strong></p>
<p>The proper way is an <strong>angular sweep</strong>. For each point \(p\), rotate a circle \(p\) such that \(p\) is on the boundary of the circle. For each other point, we can compute the angle at which the circle will hit the point (start event), and the angle at which the circle will leave the point (stop event). There are \(2n\) events, and sorting them takes \(n\log{n}\) time. So, in total, the algorithm runs in \(O(n^2\log{n})\). This is fast enough.</p>
<canvas id="angsweep" width="800" height="400"></canvas>

<p>The trigonometry needed to compute the positions of the events will be left as an exercise for the reader.</p>
<p><strong>Slightly faster solution</strong></p>
<p>It is possible to do this in \(O(n^2)\) expected time using \(O(n^2)\) space. The observation is that, if a circle centered at some point \(q\) covers the point \(p\), then it is equivalent to saying that a circle centered at \(p\) covers \(q\). Thus, we can draw a unit circle centered at every point, and find out where is covered by the most circles. You can compute a <strong>circle arrangement</strong>, iterate through all the faces, and find the face covered by the most points. This is mathematically very similar to computing a <a href="https://en.wikipedia.org/wiki/Arrangement_of_lines">line arrangement</a>, for which it is possible to use a randomized insertion algorithm which runs in expected \(O(n^2)\) time. The precise implementation details are beyond the scope of this blog post.</p>
<h2>Problem D: Key Task</h2>
<p>This is a straightforward implementation of <a href="https://en.wikipedia.org/wiki/Breadth-first_search">breadth-first search</a>. A tricky thing is that, actually, the maze is of size \(R\times C \times 16\) since there are 16 possible states of key possession (0000, 0001, ..., 1111). This problem is conceptually easy, but has numerous implementation annoyances. For example, I got several wrong submissions and took a long time because I didn't notice that there could be no exit or more than one exit.</p>
<h2>Problem E: Weird Numbers</h2>
<p>This is an implementation/math problem. Converting from a <a href="https://en.wikipedia.org/wiki/Negative_base">negative base</a> number is fairly easy. Given the digits, \(d_m\cdots d_1\) the result is straightforward:
$$n = d_0 - d_1 R + d_2 R^2 - \cdots$$</p>
<p>Converting to a negative base is slightly less easy. Suppose you are converting a number to a positive base \(R\) instead, and get digits</p>
<p>$$d_m',\cdots d_0'$$</p>
<p>Now you want to change the digits to that of the negative base: \(d_m\cdots d_1\). First, observe that \(d_0 = d_0'\). Next, if \(d_1\) is nonzero, then \(d_1 = R - d_1'\), with the caveat that you will have to add one to \(d_2\) (and the carry can propagate onwards, possibly resulting in more digits). This is because</p>
<p>$$R^2 + d_1 (-R) = (R-d_1) R$$</p>
<p>So, simply iterate from the least significant digit to the most significant digit. Even with the most naive implementation, it is only \(O(m^2)\) for \(m\) digits. But the number of digits only goes up to around 20, since \(n&lt;1000000&lt;2^{20}\).</p>
<h2>Problem F: Rectangular Polygons</h2>
<p>This problem has a beautiful solution. Let us group points both by \(x\)-coordinate and \(y\)-coordinate. In each case, when you look at a single column or row of points, you will have an even number of points, like so (for example):</p>
<pre><code>*     *  *   *         *    *
</code></pre>
<p>The key observation is that they must be connected as such:</p>
<pre><code>*-----*  *---*         *----*
</code></pre>
<p>This is because each point must be connected to both a vertical edge and a horizontal edge.</p>
<p>In this way, by looking at each row and column, you can write down an adjacency list of connections between points. Then, it suffices to traverse the graph to output the desired polygon. Since the problem asks for only the clockwise traversal, you can traverse it in both directions and output whichever one has the positive signed area.</p>
<h2>Problem G: Minimizing Maximizer</h2>
<p>I got this accepted, but I am not confident my solution is actually correct (or if the judge test cases are just lenient). Basically, my algorithm is this: let \(k\) be the position of the last interval where the endpoint is greater than or equal to \(n\). Then, sort the intervals \(1,\cdots, k\) by start position. Then, we apply the greedy interval cover algorithm to find the minimum number of intervals from the first \(k\) that covers the \(1,\cdots, n\). </p>
<h2>Problem H: Hexagons</h2>
<p>Analysis to come.</p>
<h2>Problem I: House Cleaning</h2>
<p>This problem is essentially about finding a <a href="https://en.wikipedia.org/wiki/Minimum_spanning_tree">minimum spanning tree</a> in a <a href="https://en.wikipedia.org/wiki/Lattice_graph">lattice graph</a>. The edge between any two vertices is the minimum of the heights of those two rooms. You can solve it easily using either <a href="https://en.wikipedia.org/wiki/Prim%27s_algorithm">Prim's algorithm</a> or <a href="https://en.wikipedia.org/wiki/Kruskal%27s_algorithm">Kruskal's algorithm</a>. I personally find the former easier to implement (actually, I tried implementing the latter a few times, got incorrect output due to stupid bugs in my <a href="https://en.wikipedia.org/wiki/Disjoint-set_data_structure">union-find data structure</a>, and switched to Prim's algorithm). You can store the "frontier" of Prim's algorithm in a <code>priority_queue</code>, which is available in the c++ standard library. </p>
<!-- <script type="text/javascript" src="https://dl.dropboxusercontent.com/u/1423612/LZWEncoder.js"></script>
<script type="text/javascript" src="https://dl.dropboxusercontent.com/u/1423612/NeuQuant.js"></script>
<script type="text/javascript" src="https://dl.dropboxusercontent.com/u/1423612/GIFEncoder.js"></script>
<script type="text/javascript" src="https://dl.dropboxusercontent.com/u/1423612/b64.js"></script> -->

<script>
theta = 0;
px = [];
py = [];
pr = [];
p1 = [];
p2 = [];
// var encoder = new GIFEncoder();
// encoder.setRepeat(0);
// encoder.setDelay(40);
// encoder.start();
function angsweep_init() {
    for(var i=0; i<60; i++) {
        px[i] = (2*Math.random() - 1)*160;
        py[i] = (2*Math.random() - 1)*160;
        pr[i] = Math.sqrt(px[i]*px[i] + py[i]*py[i]);
        var t = Math.atan2(py[i], px[i]);
        var tt = Math.acos(pr[i] / 160);
        if(pr[i] <= 160) {
            p1[i] = t - tt;
            p2[i] = t + tt;
        } else {
            p1[i] = t;
            p2[i] = t;
        }
    }
}
function draw() {
    var c = document.getElementById('angsweep');
    var ctx = c.getContext('2d');

    ctx.clearRect(0, 0, 800, 400);
    ctx.beginPath();
    ctx.rect(0,0,800,400);
    ctx.fillStyle='#fff';
    ctx.fill();
    ctx.closePath();

    for(var i=0; i<60; i++) {
        var color = '#888';
        if(Math.pow(px[i]-80*Math.sin(theta), 2) + Math.pow(py[i]-80*Math.cos(theta), 2) <= 80*80) {
            color = '#f30';
        }
        ctx.beginPath();
        ctx.arc(200 + px[i], 200 + py[i], 3, 0, 2*Math.PI, false);
        ctx.fillStyle = color;
        ctx.fill();
        ctx.closePath();

        ctx.beginPath();
        ctx.arc(600, 200, pr[i], p1[i], p2[i], false);
        ctx.lineWidth = 2;
        ctx.strokeStyle = color;
        ctx.stroke();
        ctx.closePath();
    }

    ctx.beginPath();
    ctx.arc(200 + 80*Math.sin(theta), 200 + 80*Math.cos(theta), 80, 0, 2*Math.PI, false);
    ctx.lineWidth = 3;
    ctx.strokeStyle = '#5af';
    ctx.stroke();
    ctx.closePath();

    ctx.beginPath();
    ctx.moveTo(600,200);
    ctx.lineTo(600 + 160*Math.sin(theta), 200 + 160*Math.cos(theta));
    ctx.stroke();
    ctx.closePath();

    ctx.beginPath();
    ctx.arc(200, 200, 3, 0, 2*Math.PI, false);
    ctx.arc(600, 200, 3, 0, 2*Math.PI, false);
    ctx.fillStyle = '#333';
    ctx.fill();
    ctx.closePath();

    theta = theta+2*Math.PI/100;
    // if(theta < 2*Math.PI) {
    //     encoder.addFrame(ctx);
    // } else if(theta < 2*Math.PI + 3*Math.PI/100) {
    //     encoder.finish();
    //     var binary_gif = encoder.stream().getData();
    //     window.location = 'data:image/gif;base64,'+encode64(binary_gif);
    // }
    requestAnimationFrame(draw);
}

angsweep_init();
requestAnimationFrame(draw);
</script>

<script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'dllunet'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>