<a href="/bloglist/" id="listblog"></a><section id="blogpost"><h3>18 October 2014</h3><h1>Old versions of my website</h1>
<p>I've decided to upload some old versions of my personal website. The earliest ones were when I was 13 years old. It's pretty embarrassing to show these, actually. The dates are approximate since I don't remember exactly when I made each version of my website.</p>
<p>My website started out as an "E-portfolio" required by my high school. It was my earliest experience in web design.</p>
<ul>
<li><a href="/My_Website_1/Old/">Version 0 (Summer 2007)</a>. The earliest version of my website was based on <a href="http://templates.arcsin.se/category/website-templates/">free arcsin.se template</a>. </li>
<li><a href="/My_Website_1/">Version 1 (Fall 2007)</a>. A heavy modification of the previous version. </li>
<li><a href="/My_Website_2/">Version 2 (Early 2008)</a>. A rewrite from scratch.</li>
<li><a href="/My_Website_3/">Version 3 (Summer 2008)</a>.</li>
<li><a href="/My_Website_4/">Version 4 (?? incomplete)</a>. </li>
<li><a href="/My_Website_5/main.html">Version 5 (Fall 2008)</a>. Note, the <a href="/My_Website_5/">landing page</a> is an Adobe Flash thing that consists of a button that says "Enter"; clicking it redirects to the hardcoded link on freewebs. Somehow I thought this was cool at the time.</li>
<li><a href="/My_Website_6/">Version 6 (Spring 2009)</a>. The landing page is rather annoying and slow to load but now it uses Javascript (css hover effects were not widely implemented at that time). It does have the purpose of loading the heavy background and banner images for the main site, which would hopefully be cached. I came up with the translucent glass design way before iOS 7. I am still quite pleased with the render I did for the background.</li>
<li><a href="/My_Website_7/">Version 7 (Fall 2009)</a>. The website took on a more emo colour scheme. The background image shown here is from an image I found on the internet for which is it very difficult to find the original author. Other background images which I actually created myself include <a href="/My_Website_7/bgargyle.jpg">bgargyle.jpg</a>, <a href="/My_Website_7/bgballs.jpg">bgballs.jpg</a>.</li>
<li><a href="/My_Website_8/">Version 8 (Summer 2010)</a>. The background image is by Blatte from <a href="http://exoteric.roach.org/">exoteric.roach.org</a>.</li>
<li><a href="/My_Website_9/">Version 9 (Early 2011)</a>. The website is based on a tutorial from <a href="http://tutorialzine.com/2010/01/sweet-tabs-jquery-ajax-css/">Tutorialzine</a>.</li>
<li><a href="/dllu/">Version 10 (Spring 2011)</a>. A brighter facelift of previous version.</li>
<li><a href="/dllu2/">Version 11 (Summer 2011)</a>. A complete rewrite from scratch. I put a lot of effort into the "Accordion" animation, but ultimately The website looks nicer if you have the Century Gothic font installed.</li>
<li><a href="/dllu3/">Version 12 (Spring 2012)</a>. Another complete rewrite. </li>
<li><a href="/dllu4/">Version 12a (Summer 2012)</a>. Small tweaks to previous version.</li>
<li><a href="/">Current version</a>. I started this in Fall 2012, and have been incrementally improving it since. The source code is available <a href="https://bitbucket.org/dllu/dllu.net">on Bitbucket</a>. </li>
</ul>
<h2>Other websites</h2>
<ul>
<li><a href="/Transition_Website/">Transition Website</a>. Website for my high school. This was based on Version 1 of my personal website. Note that this is outdated and is archived only for nostalgia reasons. People interested in the school should be directed to <a href="http://universitytransition.ubc.ca/">the current website</a>.</li>
<li><a href="/Gadget_Website/">Gadget Website</a>. Website for my <a href="/engineering/gadget/">2010 robotics course project</a>. This was based on Version 8 of my personal website.</li>
</ul>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'dllunet'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>