body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label,section {
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #f9f9f9;
    min-width: 320px;
}

a, a:visited {
    color: #36d;
    text-decoration: none;
    text-shadow: none;
    border: 0;
}

a:hover, a:focus {
    color: #58f;
    /*text-decoration: underline;*/
    text-shadow: 0 0 4px #9cf;
}

.logo {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}

.logo:hover>.dllu {
    border-color: #58f;
}


#dllu {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px;
    z-index: 99999;
}

.dllu {
    display: block;
    position: absolute;
}

.dllu.d00 {
    width: 9px;
    height: 6px;
    top: 0px;
    left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 3px solid #36d;
    border-right: 3px solid #36d;
    border-bottom: 3px solid #36d;
}

.dllu.l01 {
    width: 9px;
    height: 9px;
    top: 0px;
    left: 16px;
    border-left: 3px solid #36d;
    border-bottom: 3px solid #36d;
}

.dllu.l10 {
    width: 9px;
    height: 9px;
    top: 16px;
    left: 0px;
    border-left: 3px solid #36d;
    border-bottom: 3px solid #36d;
}

.dllu.u11 {
    width: 6px;
    height: 9px;
    top: 16px;
    left: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 3px solid #36d;
    border-right: 3px solid #36d;
    border-bottom: 3px solid #36d;
}

#breadcrumbs {
    position: absolute;
    top: 0px;
    left: 60px;
    color: #ccc;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    text-align: left;
    z-index: 4;
}

#breadcrumbs a:hover {
    text-decoration: none;
    text-shadow: none;
}

#breadcrumbs>a:before,
#breadcrumbs>a:last-child:after {
    content: " / ";
    color: #777;
}

#rss {
    display: block;
    position: absolute;
    width: 48px;
    height: 48px;
    overflow: hidden;
    padding: 0px;
    z-index:100;
    top: 0px;
    right: 0px;
    margin: 0px;
    background-image: url('blog/rss.svg');
}

#listblog {
    float: right;
    width: 48px;
    height: 48px;
    padding: 0px;
    margin: 10px;
    overflow: hidden;
    z-index:100;
    background-image: url('blog/bloglist.svg');
}

#listblog:hover,
#listblog:focus,
#rss:hover,
#rss:focus {
    background-position: bottom;
}

#footer {
    text-align: center;
    color: #888;
    font-size: 12px;
    padding: 20px;
    border: none;
}
#footer>p {
    padding:2px;
}

#content {
    padding: 0;
}

#content>.content-inside {
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.nav {
    height: 50px;
    text-align: center;
    font-size: 0px;
    position: relative;
    /*background-color: #333;*/
    z-index: 2;
}

.nav>a {
    display: inline-block;
    height: 48px;
    width: 10%;
    min-width: 90px;
    max-width: 320px;
    line-height: 48px;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    padding: 0px 10px 0px 10px;
    border-bottom: 2px solid rgba(85,136,255, 0);
}

.nav>a:hover, .nav>a:focus, .nav>a.selected {
    outline: 0;
    text-decoration: none;
    text-shadow: none;
    border-bottom: 2px solid #58f;
    color: #58f;
}

/* porfolio */

.portfolio {
    /*background-color: #111;*/
    text-align: center;
    font-size: 0px;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    max-width: 948px;
}

.portfolio li {
    display: inline-block;
    margin: 15px 30px;
    line-height: 256px;
    width: 256px;
    height: 286px;
    /*overflow: hidden;*/
    position: relative;
}
.portfolio li .portfoliotile {
    display: block;
    height: 256px;
    width: 256px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    transform-origin: 50% 50%;
    transition: all 0.2s ease;
}
.portfolio li .portfoliotile img {
    width: 256px;
    height: 256px;
    border: 0;
}

.portfolio li .portfoliotile.text {
    background-color: #fff;
    display: table;
    line-height: 30px;
    font-size: 30px;
    color: #333;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    overflow-x: auto;
}

.portfolio li .portfoliotile.text>span,
.portfolio:not(.list) li .description>span {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}

.portfolio li .caption {
    display: block;
    position: absolute;
    top: 256px;
    text-align: center;
    height: 20px;
    width: 256px;
    padding-top: 10px;
    line-height: 20px;
    font-size: 15px;
    color: #333;
    z-index: 1;
}

.portfolio li,
.portfolio li a,
.portfolio li a .portfoliotile,
.portfolio li a .portfoliotile span {
    text-decoration: none !important;
    outline: 0 !important;
}

.portfolio li:hover .portfoliotile,
.portfolio a:focus .portfoliotile {
    box-shadow: 0 0 24px rgba(0,0,0,0.4);
    transform: scale(1.05);
}

.portfolio li:hover .caption,
.portfolio a:focus .caption {
    text-decoration: none;
    text-shadow: none;
    color: #58f;
}

.portfolio:not(.list) li .description {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 256px;
    height: 256px;
    display: block;
    z-index: 1;
    display: table;
    background-color: rgba(0,0,0,0.75);
    color: #eee;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    overflow-x: auto;
    line-height: 20px;
    font-size: 16px;
    transition: all 0.2s ease;
}

.portfolio li:hover .description,
.portfolio a:focus .description {
    text-decoration: none;
    text-shadow: none;
    opacity: 1;
    transform: scale(1.05);
}


/* text */

section {
    padding: 30px 0px 20px 0px;
}
section:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
section img {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    /*box-shadow: 0px 0px 8px rgba(0,0,0,0.2);*/
    border: 1px solid #888;
}
section.expo {
    font-style: italic;
}
section>p,
section>h1,
section>h2,
section>h3,
section>ul,
section>ol {
    display: block;
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 6px 0 16px 0;
}
section>h1:first-child,
section>h2:first-child {
    padding-top: 6px;
}
section>h1 {
    padding: 16px 0 16px 0;
    font-size: 45px;
    font-weight: normal;
}
section>h2 {
    padding: 16px 0 16px 0;
    font-size: 20px;
    font-weight: bold;
}
section>h3 {
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    color: #555;
}
section ul li,
section ol li {
    display: list-item;
    padding: 5px 0 5px 0;
}
section li>ul>li {
    margin-left: 20px;
}

section pre {
    display: block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    color: #235;
    font-family: monospace;
    margin: 6px 0 16px 0;
    font-size:14px;
}
section pre>code {
    display: block;
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 8px 0 8px 0;
}

#disqus_thread {
    max-width: 800px;
}

/* blog list */
#bloglist {
    position: absolute;
    width: 399px;
    background-color: #f9f9f9;
    border-right: 1px solid #ccc;
}
#bloglist>li {
    height: 40px;
    width: 399px;
    display: block;
}
#bloglist a {
    position: relative;
    display: block;
    color: #333;
    height: 40px;
    width: 398px;
    line-height: 40px;
    font-size: 14px;
    margin-right: -1px;
}
#bloglist a:hover, #bloglist a:focus, #bloglist a.selected {
    border-right: 2px solid #36d;
    color: #36d;
    background-color: #eee;
    text-decoration: none;
    text-shadow: none;
}
#bloglist a>span {
    position: absolute;
}
#bloglist a>.title {
    display: block;
    top: 0px;
    left: 140px;
    width: 240px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
#bloglist a>.date {
    display: block;
    top: 0px;
    left: 30px;
    width: 110px;
    height: 40px;
    font-style: italic;
    color: #888;
    font-size: 12px;
    line-height: 40px;
}

#blogpost {
    margin-left: 399px;
    min-height: 800px;
    border-left: 1px solid #ccc;
}
#blogpost>p,
#blogpost>#disqus_thread,
#blogpost>h1,
#blogpost>h2,
#blogpost>h3,
#blogpost>ul,
#blogpost>pre>code{
    margin: 0 80px;
}


#homespacer {
    height: 50px;
}

/* responsive!!!!!!!! amazing!!!!!!! */

@media screen and (max-width: 1200px) and (min-width:450px) {
    .nav {
        padding-top: 50px;
    }
    #bloglist {
        width: 199px;
    }
    #bloglist>li {
        width: 199px;
    }
    #bloglist a {
        height: 40px;
        width: 198px;
        line-height: 20px;
        font-size: 14px;
    }
    #bloglist a:hover, #bloglist a:focus, #bloglist a.selected {
        text-decoration: none;
        text-shadow: none;
    }
    #bloglist a>.title {
        top: 20px;
        left: 40px;
        width: 158px;
        height: 20px;
        line-height: 20px;
    }
    #bloglist a>.date {
        top: 0px;
        left: 10px;
        height: 20px;
        line-height: 20px;
        width: 178px;
    }
    #blogpost {
        margin-left: 199px;
    }
    #blogpost>p,
    #blogpost>#disqus_thread,
    #blogpost>h1,
    #blogpost>h2,
    #blogpost>h3,
    #blogpost>ul,
    #blogpost>pre>code{
        margin: 0 30px;
    }
}

@media screen and (max-width: 500px) {
    #bloglist {
        display: none;
    }
    #blogpost {
        margin-left: 0;
    }
    #blogpost>p,
    #blogpost>#disqus_thread,
    #blogpost>h1,
    #blogpost>h2,
    #blogpost>h3,
    #blogpost>ul,
    #blogpost>pre>code{
        margin: 0 auto;
    }
    .nav {
        padding-top: 50px;
        height: 100px;
    }
}
