<div id="homespacer"></div>
<ul class="portfolio">
    <li><a href="engineering/">
        <span class="portfoliotile"><img src="engineering.jpg" /></span>
        <span class="caption">Engineering</span>
    </a></li>
    <li><a href="design/">
        <span class="portfoliotile"><img src="design.jpg" /></span>
        <span class="caption">Design</span>
    </a></li><br/>
    <li><a href="programming/">
        <span class="portfoliotile"><img src="programming/hw4.png" /></span>
        <span class="caption">Programming</span>
    </a></li>
    <li><a href="blog/">
        <span class="portfoliotile"><img src="blog.png" /></span>
        <span class="caption">Blog</span>
    </a></li>
</ul>

<section id="about">
    <h1>Daniel Lawrence Lu</h1>
    <ul>
        <li><strong>2014-2016</strong>: <a href="http://www.ri.cmu.edu/ri_static_content.html?menu_id=469" target="_blank">Carnegie Mellon University, Master of Science, Robotics</a></li>
        <li><strong>2008-2014</strong>: <a href="http://www.engphys.ubc.ca" target="_blank">University of British Columbia, Bachelor of Applied Science, Engineering Physics, Mechatronics</a></li>
    </ul>
</section>
