<a href="/bloglist/" id="listblog"></a><section id="blogpost"><h3>16 November 2014</h3><h1>Reddit reader</h1>
<p>After I realized that <a href="http://www.reddit.com/.json">every page on reddit can be viewed as a json</a>, I decided to make a minimalistic-looking <a href="/reddit/">reddit reader</a>. You can browse any subreddit, e.g. <a href="/reddit/#carporn">carporn</a>. Images and self posts are embedded by default and you can also show html5 videos such as the ones hosted on gfycat and the Imgur .gifv format.</p>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'dllunet'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>