<a href="/bloglist/" id="listblog"></a><section id="blogpost"><h3>23 December 2013</h3><h1>Raindrops.</h1>
<p><a href="/raindrops"><img alt="Raindrops" src="/blog/blog/raindrops.jpg" /></a></p>
<p>I got quite inspired after seeing <a href="http://codepen.io/lbebber/pen/uIiJp">CSS3 Raindrops on a Window</a>. However, some commenters mentioned that raindrops that touch ought to merge together. This type of behaviour is easily accomplished using <a href="https://en.wikipedia.org/wiki/Metaballs">metaballs</a>. Hence, I made a <a href="/raindrops">Javascript demo</a> that uses Gaussian metaballs with simulated refraction. The metaballs are defined as simply regions where the sum of the Gaussians is greater than some threshold.</p>
<p>If we assume each metaball to behave as a thin lens, then the refraction angle for a light ray normal to the glass pane would be proportional to the gradient of the metaball function. The gradient of a Gaussian is <a href="http://www.wolframalpha.com/input/?i=gradient+of+exp%28-x^2-y^2%29">easy to compute</a>.</p>
<p>The final result doesn't look as nice as I had hoped. Possibly this is because raindrops are rarely perfectly round, as they are in my demo. Also, metaballs are obviously not an exact description of water droplets (the details of the geometry of water droplets caused by surface tension is somewhat hard). </p>
<p>My raindrops demo uses the public-domain image available <a href="https://commons.wikimedia.org/wiki/File:Matanaka_-_Granary,_Privy_%26_Schoolhouse.jpg">Wikimedia Commons</a>. </p>
<h2>CSS3 Pistons</h2>
<p>Today I also made <a href="/pistoncraft3">isometric CSS3 Pistons</a> for fun.</p>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'dllunet'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>