<a href="/bloglist/" id="listblog"></a><section id="blogpost"><h3>21 March 2014</h3><h1>CSS3 3D Quadrotor animation.</h1>
<p>I made a CSS3 3D animated quadrotor, shown below. WARNING: It does not run smoothly on browsers not supporting hardware acceleration of CSS3 3D transformations.</p>
<style>
#wow {
    margin: 0 80px;
    width: 800px;
    height: 800px;
    border: 1px solid #ccc;
    overflow: hidden;
}
#quaffle-holder {
    width: 800px;
    height: 800px;
    perspective: 1000px;
    perspective-origin: 50% 10%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
#quaffle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 400px;
    margin: -200px;
    transform-origin: 50% 50% 50%;
    transform-style: preserve-3d;
    transform:
                translate3d(400px, 500px, 0px)
                rotateX(90deg)
                rotateZ(-15deg);
}
#quaffle figure {
    display: block;
    position: absolute;
    transform-origin: 50% 50% 50%;
    transform-style: preserve-3d;
    outline: 1px solid transparent;
}
#quaffle-diagonal {
    width: 400px;
    height: 400px;
    margin: -200px;
    transform:
                translate3d(200px, 200px, 0px)
                rotateZ(45deg);
}
#quaffle-plane-0 {
    width: 360px;
    height: 360px;
    border: 6px solid #333;
    margin: -186px;
    transform:
                translate3d(200px, 200px, 0px);
}
#quaffle-plane-1 {
    width: 160px;
    height: 160px;
    background-color: #333;
    margin: -80px;
    transform:
                translate3d(200px, 200px, 10px);
}
#quaffle-plane-2 {
    width: 160px;
    height: 160px;
    background-color: #333;
    margin: -80px;
    transform:
                translate3d(200px, 200px, -10px);
}
.quaffle-rotor {
    width: 280px;
    height: 280px;
    border-radius: 140px;
    margin: -140px;
}
#quaffle-0 {
    transform:
                translate3d(10px, 10px, 50px)
                scaleX(-1)
                rotateZ(45deg);
}
#quaffle-1 {
    transform:
                translate3d(380px, 10px, 50px)
                rotateZ(45deg);
}
#quaffle-2 {
    transform:
                translate3d(10px, 380px, 50px)
                rotateZ(45deg);
}
#quaffle-3 {
    transform:
                translate3d(380px, 380px, 50px)
                scaleX(-1)
                rotateZ(45deg);
}
#quaffle-x {
    width: 480px;
    height: 100px;
    margin: -50px -280px;
    border-left: 40px solid #333;
    border-right: 40px solid #333;
    transform:
                translate3d(200px, 200px, 0px)
                rotateX(90deg);
}
#quaffle-y {
    width: 480px;
    height: 100px;
    margin: -50px -280px;
    border-left: 40px solid #333;
    border-right: 40px solid #333;
    transform:
                translate3d(200px, 200px, 0px)
                rotateX(90deg)
                rotateY(90deg);
}
#quaffle-x-0 {
    width: 520px;
    height: 20px;
    margin: -10px -260px;
    background-color: #333;
    transform:
                translate3d(200px, 200px, 0px)
                rotateX(90deg);
}
#quaffle-y-0 {
    width: 520px;
    height: 20px;
    margin: -10px -260px;
    background-color: #333;
    transform:
                translate3d(200px, 200px, 0px)
                rotateX(90deg)
                rotateY(90deg);
}
.quaffle-rotor-inside {
    width: 280px;
    height: 280px;
    margin: 0px;
    /*background-color: rgba(0,0,0,0.2);*/
}
.quaffle-blade-0 {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    margin: -70px;
    background-color: #333;
    transform: 
                translate3d(70px, 140px, 0px)
                rotateX(15deg)
                scaleY(0.2);
}
.quaffle-blade-1 {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    margin: -70px;
    background-color: #333;
    transform: 
                translate3d(210px, 140px, 0px)
                rotateX(-15deg)
                scaleY(0.2);
}

@keyframes spin {
  from {
    transform: rotateZ(360deg);
  }

  to {
    transform: rotateZ(0deg);
  }
}

#quaffle-holder:hover .quaffle-rotor-inside {
    animation-duration: 0.19s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
</style>

<script src="/prefixfree.min.js"></script>

<div id="wow">
    <div id="quaffle-holder">
        <div id="quaffle">
            <figure id="quaffle-plane-0"></figure>
            <figure id="quaffle-plane-1"></figure>
            <figure id="quaffle-plane-2"></figure>
            <figure id="quaffle-diagonal">
                <figure id="quaffle-x"></figure>
                <figure id="quaffle-x-0"></figure>
                <figure id="quaffle-y"></figure>
                <figure id="quaffle-y-0"></figure>
            </figure>
            <figure id="quaffle-0" class="quaffle-rotor">
                <figure class="quaffle-rotor-inside">
                    <figure class="quaffle-blade-0"></figure>
                    <figure class="quaffle-blade-1"></figure>
                </figure>
            </figure>
            <figure id="quaffle-1" class="quaffle-rotor">
                <figure class="quaffle-rotor-inside">
                    <figure class="quaffle-blade-0"></figure>
                    <figure class="quaffle-blade-1"></figure>
                </figure>
            </figure>
            <figure id="quaffle-2" class="quaffle-rotor">
                <figure class="quaffle-rotor-inside">
                    <figure class="quaffle-blade-0"></figure>
                    <figure class="quaffle-blade-1"></figure>
                </figure>
            </figure>
            <figure id="quaffle-3" class="quaffle-rotor">
                <figure class="quaffle-rotor-inside">
                    <figure class="quaffle-blade-0"></figure>
                    <figure class="quaffle-blade-1"></figure>
                </figure>
            </figure>
        </div>
    </div>
</div>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'dllunet'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>