<a href="/bloglist/" id="listblog"></a><section id="blogpost"><h3>22 April 2013</h3><h1>New website and other new things.</h1>
<p>I made a new website! After being in beta for 8 months, I'm tired of having it be in beta and have replaced my original site with the new one. ~~Unfortunately, this website does not work on browsers without Javascript. I will generate <a href="http://www.dllu.net/s/">the static version</a> whenever I think of an elegant way of doing so.~~</p>
<p>The new site has several interesting features:</p>
<ul>
<li>Pages are HTML snippets that are loaded via AJAX.</li>
<li>The site Javascript has a way to sort of prefetch snippets, so navigating in this site should be fairly fast.</li>
<li>The blog engine is a simple Python script which uses <a href="https://pypi.python.org/pypi/Markdown">Markdown for Python</a> to convert <a href="http://daringfireball.net/projects/markdown/">markdown</a> text files into HTML snippets of the correct format.</li>
</ul>
<p>Today, I also made a new <a href="/wob2">custom homepage for new tabs</a> to replace <a href="/wob">the old version</a>. The idea is that now all sites and search engines are easily accessed by pressing the respective keys on the left side of a QWERTY keyboard, which should save about 0.5 seconds every time I open a new tab. There is also a huge CSS3 clock to help keep track of time and the weather indicator has been enlarged.</p>
<p><strong>Update</strong> <em>y2014m02d19</em> The website no longer requires Javascript to run.</p>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'dllunet'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>