<a href="/bloglist/" id="listblog"></a><section id="blogpost"><h3>23 June 2013</h3><h1>Customizing my desktop.</h1>
<p><img alt="Screenshot" src="/blog/blog/2013-06-23-134721_4480x1440_scrot.png" /></p>
<p>A few weeks ago I installed <a href="http://www.archlinux.org">Arch Linux</a> on my desktop. It is quite pleasant to use. Yesterday I installed the <a href="http://mason-larobina.github.io/luakit/">Luakit</a> browser. It is very fast and uses up very little screen real estate, which I like.</p>
<p>The new tab page shown in the screenshot is, of course <a href="/wob2/">my custom new tab page</a>, tweaked a bit to match the rest of the system. The background image is <a href="http://en.wikipedia.org/wiki/File:Glass_ochem_dof2.png">rendered by me</a>. </p>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'dllunet'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>