<a href="/bloglist/" id="listblog"></a><section id="blogpost"><h3>26 September 2014</h3><h1>Happy spider</h1>
<p>Here is a thing that creates a diagram of an optimal web that can <a href="https://en.wikipedia.org/wiki/Incircle_and_excircles_of_a_triangle">fit inside a random triangle</a>.</p>
<canvas id="spiderweb" width="800" height="600"></canvas>

<script>
var width, height;
function init() {
    spiderweb = document.getElementById('spiderweb');
    height = spiderweb.height;
    width = spiderweb.width;
    context = spiderweb.getContext('2d');
    /* I treat all devices as being Hi-DPI (i.e. a pixel ratio of 2)
    because even on normal displays, this looks better as it is like
    anti-aliasing. */
    spiderweb.width = width * 2;
    spiderweb.height = height * 2;

    spiderweb.style.width = width + 'px';
    spiderweb.style.height = height + 'px';
    context.scale(2, 2);
    // width *=2;
    // height *=2;
}

function dist(ax, ay, bx, by) {
    return Math.sqrt((ax-=bx)*ax + (ay-=by)*ay)
}

function draw() {
    spiderweb = document.getElementById('spiderweb');
    context = spiderweb.getContext('2d');
    context.strokeStyle = '#333';
    context.lineWidth='1';
    var ax=width*Math.random(), 
        ay=height*Math.random(), 
        bx=width*Math.random(), 
        by=height*Math.random(), 
        cx=width*Math.random(), 
        cy=height*Math.random();
    var a = dist(bx, by, cx, cy), b = dist(ax, ay, cx, cy), c = dist(bx, by, ax, ay);
    var area = Math.abs((ax-cx)*(by-cy) - (bx-cx)*(ay-cy));
    var ox = (ax*a+bx*b+cx*c)/(a+b+c), oy = (ay*a+by*b+cy*c)/(a+b+c);
    var r = area/(a+b+c);
    while(r < 20) {
        ax=width*Math.random();
        ay=height*Math.random();
        bx=width*Math.random();
        by=height*Math.random();
        cx=width*Math.random();
        cy=height*Math.random();
        a = dist(bx, by, cx, cy), b = dist(ax, ay, cx, cy), c = dist(bx, by, ax, ay);
        area = Math.abs((ax-cx)*(by-cy) - (bx-cx)*(ay-cy));
        ox = (ax*a+bx*b+cx*c)/(a+b+c), oy = (ay*a+by*b+cy*c)/(a+b+c);
        r = area/(a+b+c);
    }
    context.clearRect(0, 0, width, height);
    context.beginPath();
    context.moveTo(ax, ay);
    context.lineTo(bx, by);
    context.lineTo(cx, cy);
    context.lineTo(ax, ay);
    context.closePath();
    context.stroke();

    context.beginPath();
    context.moveTo(ox, oy);
    context.lineTo(ax, ay);
    context.closePath();
    context.stroke();

    context.beginPath();
    context.moveTo(ox, oy);
    context.lineTo(bx, by);
    context.closePath();
    context.stroke();

    context.beginPath();
    context.moveTo(ox, oy);
    context.lineTo(cx, cy);
    context.closePath();
    context.stroke();
    for(var radius = 5; radius < r; radius+=5) {
        context.beginPath();
        context.arc(ox, oy, radius, 0, 2 * Math.PI, false);
        context.stroke();
    }
    // spider
    for(var leg=0; leg<4; leg++) {
        context.beginPath();
        context.moveTo(ox - 8 - 20*Math.cos((leg-1.5)*0.34), oy + 6 - 20*Math.sin((leg-1.5)*0.34));
        context.lineTo(ox - 20*Math.cos((leg-1.5)*0.34), oy - 20*Math.sin((leg-1.5)*0.34));
        context.lineTo(ox, oy);
        context.lineTo(ox + 20*Math.cos((leg-1.5)*0.34), oy - 20*Math.sin((leg-1.5)*0.34));
        context.lineTo(ox + 8 + 20*Math.cos((leg-1.5)*0.34), oy + 6 - 20*Math.sin((leg-1.5)*0.34));
        context.strokeStyle = '#532';
        context.lineWidth = '2';
        context.stroke();
    }
    context.beginPath();
    context.arc(ox, oy, 12, 0, 2 * Math.PI, false);
    context.fillStyle='#532';
    context.fill();
    context.beginPath();
    context.arc(ox+4, oy-4, 4, 0, 2 * Math.PI, false);
    context.fillStyle='#fff';
    context.fill();
    context.beginPath();
    context.arc(ox-4, oy-4, 4, 0, 2 * Math.PI, false);
    context.fillStyle='#fff';
    context.fill();
    context.beginPath();
    context.arc(ox+4, oy-2, 2, 0, 2 * Math.PI, false);
    context.fillStyle='#000';
    context.fill();
    context.beginPath();
    context.arc(ox-4, oy-2, 2, 0, 2 * Math.PI, false);
    context.fillStyle='#000';
    context.fill();
}
document.getElementById('spiderweb').onclick = draw;
init();
draw();
</script>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'dllunet'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>