<a href="/bloglist/" id="listblog"></a><section id="blogpost"><h3>1 December 2013</h3><h1>A busy term.</h1>
<p>This term is significantly more busy than I had expected. Graduate school applications, homeworks, and exams all seem to converge at exactly the same time. Consequently, there are few blog post updates. Sorry!</p>
<p>I also did not manage to go to Dr. Kirk Madison's Quantum Degenerate Gases lab as often as I would have liked. So far, my meagre contribution to the <a href="https://github.com/vbarua/QDG-Lab-Framework">QDG Lab Framework</a> consists of a partial implementation of a controller for the PrismaPlus residual gas spectrometer. Next week maybe I will take some time from studying for final exams to chill in the lab and finish implementing the residual gas spectrometer controller.</p>
<p>Today I took a short (30 minutes) break from writing my statements of purpose for grad school applications to draw this:</p>
<p><img alt="Vienna" src="http://i.imgur.com/ki8qJ7r.jpg" /></p>
<p>I wish I could go on a vacation.</p>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'dllunet'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>