<a href="/bloglist/" id="listblog"></a><section id="blogpost"><h3>2 November 2013</h3><h1>ACM ICPC PACNW 2013.</h1>
<p>In the <a href="http://acmicpc-pacnw.org/">Association of Computing Machinery International Collegiate Programming Contest (Pacific Northwest Region), 2013</a>, my team, UBC Wrong Answer, placed fourth. We were the Canada site champions.</p>
<p><img alt="Group Photo" src="/blog/blog/ubc.jpg" /></p>
<p>In the above picture, I am on the far left. The rectilinear distortion makes me look wider than I really am. </p>
<p>We had been practicing for the contest twice every week this term by solving problems from past contests in different regions.  The course load for Engineering Physics makes it hard to spend lots of time on extracurricular activities, but the pleasure of solving problems and the free pizza makes it worth it.</p>
<p>I think this year we spent too much time practicing the easy problems and were inadequately prepared for the harder ones.  That is why for the first hour of the contest, UBC Wrong Answer was in first place with five solved problems, but it took another four hours to solve two more problems, during which we were overtaken by the Stanford and Berkeley teams.</p>
<p>Overall, I think we did a fine job.  Last year, Angus and I placed 14th in the regionals, so this time it is a huge improvement.  I am optimistic that next year there is a good chance that a UBC team will make it to the world finals (although I will have graduated by then).</p>
<p>I encourage all students who are interested in programming and algorithms to join the <a href="https://sites.google.com/site/ubcprogrammingteam/">UBC ACM Programming Club</a>!</p>
<p>Past ACM regionals that the UBC programming team have been to are listed <a href="https://sites.google.com/site/ubcprogrammingteam/history">here</a>.</p>
<h2>Selected analysis of problems</h2>
<p>The problem statements can be downloaded as a <a href="http://acmicpc-pacnw.org/ProblemSet/2013/ICPC_PacNW_2013_ProblemStatements.pdf">pdf file</a>. </p>
<h3>Problem I</h3>
<p>Consider a partition of the positions such that all positions in the left partition are closer to the left wormhole than the right one, and vice versa. Then, the maximum distance travelled is equal to the distance between the rightmost and leftmost position in the partition (since we have defined the partition so that travelling to the other wormhole will always be worse). Then, we minimize over all possible ways to partition this. We did not get our solution accepted in the contest because we used <code>int</code> instead of <code>long long</code>, causing problems with integer overflow.</p>
<pre><code>#include &lt;iostream&gt;
#include &lt;algorithm&gt;
#define max(a,b) ((a)&gt;(b)?(a):(b))
using namespace std;
int main() {
    int t;
    cin &gt;&gt; t;
    while(t--) {
        int N; cin &gt;&gt; N;
        long long *x = new long long[N]; // OMG THIS OVERFLOW
        for(int i=0; i&lt;N; i++) {
            cin &gt;&gt; x[i];
        }
        sort(x, x+N);
        long long qwer = 2000000000000L;
        for(int i=0; i&lt;N-1; i++) {
            long long dis = max(x[i]-x[0],x[N-1]-x[i+1]);
            qwer = min(dis, qwer);
        }
        cout &lt;&lt; qwer &lt;&lt; endl;
        delete [] x;
    }
    return 0;
}
</code></pre>
<h3>Problem J</h3>
<p>This problem gives you a bunch of circles and asks you to find the greatest number of circles that a single straight line can pass through. First, make the observation that we only need to consider lines tangent to at least one circle. Given a line that passes through some circles, you can always wiggle the line so that it is tangent to one of the circles that it intersects, without passing through any fewer circles.</p>
<p>We consider an angular sweep of a tangent line around a circle. Imagine a line that's tangent to a circle and rotates around it. For every other circle, we store the angle at which it enters the circle and the angle at which it exits the circle. We then sort all these events and iterate through them to find what is the maximum number of circles that the sweeping line passes through.</p>
<p><img alt="diagram" src="/blog/blog/circlesweep.svg" /></p>
<p>In the above diagram, we find the start and end event angles of a right-hand tangent line from the blue circle of radius <em>R</em> to the green circle of radius <em>r</em>. Suppose that the distance between the circles is <em>d</em>. Then we can find the start and end angles by performing simple trigonometry on the two right angles with hypotenuse <em>d</em> and opposite leg lengths <em>r+R</em> and <em>r-R</em>. For the left-hand tangent lines, the picture is simply mirrored. A complete tangent line is a right-hand tangent line plus the left-hand tangent line rotated by <em>pi</em>.</p>
<pre><code>#include &lt;iostream&gt;
#include &lt;complex&gt;
#include &lt;vector&gt;
#include &lt;algorithm&gt;

using namespace std;

typedef long double ld;
typedef complex&lt;ld&gt; pt;
const ld PI = acos(-1.0L), EPS = 1e-6;

struct circle {
    pt c;
    ld r;
    circle(pt p, ld r) : c(p), r(r) {};
    circle() {}
};

struct event {
    ld angle;
    int type;
    bool operator&lt;(const event&amp; other) const {return angle &lt; other.angle;}
};

ld anglerange(ld angle) {
    while(angle&gt;2*PI) angle-=2*PI;
    while(angle&lt;0) angle+=2*PI;
    return angle;
}

int main() {
    ios::sync_with_stdio(0);
    int t; cin &gt;&gt; t;
    vector&lt;circle&gt; v;
    while (t--) {
        int n; cin &gt;&gt; n;
        v.clear();
        for (int i = 0; i &lt; n; i++) {
            ld x, y, r;
            cin &gt;&gt; x &gt;&gt; y &gt;&gt; r;
            pt c(x,y);
            circle circ(c, r);
            v.push_back(circ);
        }
        int xam = 0;
        for(int i=0; i&lt;n; i++) {
            vector&lt;event&gt;e;
            int depth = 0;

            for(int j=0; j&lt;n; j++) {
                if(i==j) continue;
                ld d = abs(v[j].c-v[i].c), a = arg(v[j].c-v[i].c);
                event start, end;
                start.type = 1;
                end.type = -1;

                start.angle = anglerange(a - asin((v[j].r-v[i].r-EPS)/d));
                end.angle = anglerange(a + asin((v[j].r+v[i].r+EPS)/d));
                e.push_back(start);
                e.push_back(end);
                if(start.angle &gt; end.angle) depth++;

                start.angle = anglerange(a - asin((v[j].r+v[i].r-EPS)/d) + PI);
                end.angle = anglerange(a + asin((v[j].r-v[i].r+EPS)/d) + PI);
                e.push_back(start);
                e.push_back(end);
                if(start.angle &gt; end.angle) depth++;
            }
            sort(e.begin(), e.end());
            for(int j=0, _j = e.size(); j&lt;_j; j++) {
                depth += e[j].type;
                if(depth&gt;xam)  xam = depth;
            }
        }
        cout &lt;&lt; xam+1 &lt;&lt; endl;
    }
}
</code></pre>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'dllunet'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>